<div class="row mb-2" (click)="goToCreateProduct()">
	<button class="btn btn-primary">New Product</button>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products">
			<td>{{ product.id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.price | currency }}</td>
			<td>
				<a [routerLink]="['/products/edit', product.id]"> Update</a> |
				<a class="link" (click)="remove(product.id)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
