<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="name">Name</label>
		<input
			type="text"
			class="form-control"
			id="name"
			[class.is-invalid]="!name.pristine && name.invalid"
			formControlName="name"
		/>
	</div>
	<div class="form-group">
		<label for="price">Price</label>
		<input
			type="number"
			class="form-control"
			id="price"
			[class.is-invalid]="!price.pristine && price.invalid"
			formControlName="price"
		/>
	</div>
	<div class="form-group">
		<label for="file">Picture</label>
		<button
			type="button"
			class="form-control btn btn-secondary"
			onclick="document.getElementById('picture').click()"
		>
			Click here to {{ addPictureText }} a picture
		</button>
		<input
			type="file"
			id="picture"
			style="display: none"
			accept="image/png, image/jpeg"
			(change)="selectFile($event)"
		/>
	</div>
	<div class="d-flex justify-content-center">
		<img [src]="pictureBase64 | sanitizeBase64" alt=" Pending picture upload" style="width: 200px" />
	</div>

	<button [disabled]="isFormInvalid" type="submit" class="btn btn-primary">
		{{ isUpdate ? 'Update' : 'Create' }}
	</button>
</form>
